*{
    margin: 0;
    padding: 0;
}
body{
    background-image: url(pictures/Trekking.jpg);
    background-position: center;
    background-size: cover;
}
#form{
    background-color: black;
    height: 200px;
    width: 800px;
    margin: auto;
    margin-top: 100px;
    opacity: 0.7;
    text-align:center;
}
#first-group{
    border: 1px solid white;
    width: 800px;
    margin-top: 38px;
    
}

#content{
    border: 1px solid white;
    margin: 10px;
    margin-left: 8px;
    padding: 5px;
    color: white;
}

#content #input-group{
    border:none;
    outline: none;
    background: transparent;
    margin-left: 8px;
    width: 300px;
    color: white;
}

::placeholder{
    color:white;

}

.fa{
    display:inline-block;
    color: lightgreen;
    /*border-right: 1px solid white;*/
    padding: 8px;
    margin-left: 8px
}
#submit-btn{
    margin-top: 30px;
    /*margin-left: 600px;*/
    background: transparent;
    color: white;
    border:1px solid lightgreen;
    outline:none;
    padding: 10px;
    font-size: 20px;
    align-self: center;

}
#submit-btn:hover{
    background-color: lightseagreen;
}